
@{
    ViewData["Title"] = "blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	
	<div class="body">
		<div id="content">
			<div>
				<div>
					<h3>This is just a place holder, so you can see what the site would look like.</h3>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
					</p>
					<a href="index.html"><img src="<form action="index.html">~/images/chicken-mushroom.jpg" alt="Image"></a>
					<p>
						<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sem id sem laoreet pharetra eget hendrerit quam. Duis gravida elit nec nibh pellentesque ut tempus libero iaculis. Aenean tincidunt euismod porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra urna sed quam rhoncus iaculis. Etiam mauris lacus, vehicula vitae bibendum at, elementum in metus. Suspendisse feugiat justo et felis pulvinar fermentum scelerisque mauris pellentesque. Aenean lacinia tortor ipsum. Donec vel eros ut turpis mattis vestibulum. Duis id nibh quis ligula convallis euismod ut sed lacus. Quisque convallis tortor vitae orci rhoncus mollis. Proin eu velit ut lorem vehicula mattis. In hac habitasse platea dictumst. Suspendisse potenti. Integer vel nunc id nisi molestie rutrum. Quisque porta lacus a ipsum dictum tristique.
					</p>
					<p>
						<br>Nulla eget nibh euismod quam pretium condimentum rutrum at ligula. Proin vestibulum sodales dictum. Suspendisse cursus ligula sagittis turpis imperdiet eu varius tellus pellentesque. Aenean nec lectus odio. Curabitur rhoncus, nulla ac commodo consequat, leo mauris ultricies turpis, sit amet vulputate nunc justo non massa. Morbi sed leo ipsum. Nam congue tempor nibh at cursus. Curabitur nec augue turpis.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>




