
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body">
		<div>


			
			
			<div class="body">
				<div>
					<a href="index.html"><img src="images/turkey.jpg" alt="Image"></a>
				</div>
				<ul>
					<li class="current">
						<a href="blog.html"><img src="images/holi-turkey.jpg" alt="Image"></a>
						<div>
							<h2><a href="blog.html">Holy Turkey</a></h2>
						    
							<p>
								This is just a place holder
							</p>
						</div>
					</li>
					<li>
						<a href="blog.html"><img src="images/fruits-and-bread.jpg" alt="Image"></a>
						<div>
							<h2><a href="blog.html">Fruits &amp; Bread</a></h2>
							<p>
								This is just a place holder
							</p>
						</div>
					</li>
					<li>
						<a href="blog.html"><img src="images/dessert.jpg" alt="Image"></a>
						<div>
							<h2><a href="blog.html">קינוחים</a></h2>
							<p>
								This is just a place holder
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="footer">
				<ul>
					<li>
					<h2><a href="featured.html">צהריים לילדים</a></h2>
						<a href="featured.html"><img src="images/featured.jpg" alt="Image"></a>
					</li>
					<li>
						<h2><a href="recipes.html">מומלצים לשבת</a></h2>
						<a href="recipes.html"><img src="images/a-z.jpg" alt="Image"></a>
					</li>
				</ul>
				<ul>
					<li>
						<h2><a href="videos.html">בריאות</a></h2>
						<a href="videos.html"><img src="images/videos.jpg" alt="Image"></a>
					</li>
					<li>
						<h2><a href="blog.html">סלטים</a></h2>
						<a href="blog.html"><img src="images/blog.jpg" alt="Image"></a>
					</li>
				</ul>
			</div>
		</div>
		
</div>